@import "../../styles/variables";

.score-count__container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 40px;

  background-color: $very-light-gray;
  border-radius: 10px;

  @media screen and (min-width: $tablet) {
    flex-direction: column;
    width: 40px;
    height: 100px;
  }
}

.score-count__number {
  display: flex;
  flex: calc(100% / 3);
  align-items: center;
  justify-content: center;

  line-height: 19px;
  color: $moderate-blue;
  text-align: center;
}

.score-count__button {
  display: flex;
  flex: calc(100% / 3);
  align-items: center;
  justify-content: center;

  height: 100%;

  svg :deep(path) {
    transition: fill 0.3s ease;
  }

  &:hover {
    svg :deep(path) {
      fill: $moderate-blue;
    }
  }

  &:disabled {
    svg :deep(path) {
      fill: $pale-red;
    }
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
    height: auto;
  }
}
