@import "../../styles/variables";

.button {
  min-width: 104px;
  max-width: 300px;
  min-height: 48px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 12px 20px;
  border-radius: 8px;
  background-color: $moderate-blue;
  color: $white;
  font-feature-settings: "clig" off, "liga" off;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $light-grayish-blue;
  }
}
