@import "../../styles/variables";

.comment__container {
  padding: 16px;
  background-color: $white;
  border-radius: 8px;

  &--reply {
    margin-bottom: 8px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }
}

.comment__right {
  flex: 1;
}

.comment__header {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.comment__header-buttons {
  margin-left: auto;
}

.comment__user {
  display: flex;
  gap: 8px;
  align-items: center;

  font-feature-settings: "clig" off, "liga" off;
  font-weight: 500;
  color: $dark-blue;
}

.comment__user-current {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 19px;

  font-size: 13px;
  font-weight: 500;
  color: $white;

  background: $moderate-blue;
  border-radius: 2px;
}

.comment__date {
  font-feature-settings: "clig" off, "liga" off;
}

.comment__replying-to {
  font-weight: 500;
  color: $moderate-blue;
}

.comment__edit-block {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.comment__textarea {
  resize: none;

  overflow: auto;
  overflow: hidden;

  width: 100%;
  min-height: 100px;
  margin-bottom: 16px;
  padding: 12px 24px;

  font-feature-settings: "clig" off, "liga" off;
  color: $dark-blue;

  border: 1px solid $light-gray;
  border-radius: 8px;

  transition: border-color 0.3s ease;

  &:focus {
    border-color: $moderate-blue;
  }
}

.comment__text {
  margin-bottom: 16px;
  font-feature-settings: "clig" off, "liga" off;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.comment__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment__user-buttons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.comment-button {
  display: flex;
  gap: 8px;
  align-items: center;

  font-feature-settings: "clig" off, "liga" off;
  font-weight: 500;

  transition: color 0.3s ease;

  svg :deep(path) {
    transition: fill 0.3s ease;
  }

  &--blue {
    color: $moderate-blue;

    &:hover,
    &:disabled {
      color: $light-grayish-blue;

      svg :deep(path) {
        fill: $light-grayish-blue;
      }
    }
  }

  &--red {
    color: $soft-red;

    &:hover,
    &:disabled {
      color: $pale-red;

      svg :deep(path) {
        fill: $pale-red;
      }
    }
  }
}

.desktop-visible {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.desktop-invisible {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
