@import "../../styles/variables";

.comments__comment {
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.comments__replies {
  border-left: 2px solid $light-gray;
  padding-left: 16px;

  @media screen and (min-width: $tablet) {
    padding-left: 43px;
    margin-left: 43px;
  }
}
