@import "../../styles/variables";

.message-input__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: 189px;
  padding: 16px;
  padding-bottom: 13px;

  background-color: $white;
  border-radius: 8px;

  @media screen and (min-width: $tablet) {
    min-height: 144px;
    padding: 24px;
  }
}

.message-input__header {
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 16px;
    align-items: start;
    justify-content: space-between;
  }
}

.desktop-visible {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.message-input__avatar--desktop {
  max-width: 40px;
  min-height: 40px;
}

.message-input__textarea {
  resize: none;

  overflow: auto;
  overflow: hidden;

  width: 100%;
  min-height: 96px;
  padding: 12px 24px;

  font-feature-settings: "clig" off, "liga" off;
  color: $grayish-blue;

  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 8px;

  transition: border-color 0.3s ease;

  &:focus {
    border-color: $moderate-blue;
  }
}

.message-input__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
